@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Azeret Mono', monospace;
}

body {
    margin: 0px auto;
    width: 100vw;
    height: 100vh;
    max-width: 1500px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: black;
    color: #F3A847;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav img {
    width: 30px;
    margin-right: 10px;
}

form {
    padding: 20px 10px;
    display: flex;
    justify-content: center;
}

form input {
    border: none;
    width: 80%;
    padding: 7px 10px;
    font-size: 1rem;
    outline: none;
    font-weight: 300;
    background-color: #eaeaea;
    border-radius: 5px;
    transition: all 0.3s;
}

form input:focus {
    background-color: #F3A847;
    color: white;
}

form button {
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 7px 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    outline: none;
    transition: all 0.3s;
}

button:disabled {
    background-color: rgb(235, 235, 235);
    color: grey;
    cursor: no-drop;
}